.footer {
    background-color: $background-black-color;
    &__container {
        padding: 60px 15px 70px 15px;
    }

    &__logo {
        margin-bottom: 20px;
        display: inline-block;

        color: $primary-white-color;
    }
}


.connection__link {
    color: $transparent-white-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    &--white {
            color: $primary-white-color;
        }
}

.connection__item:not(:last-child) {
    margin-bottom: 8px;
}

.appeal {

    &__title {
        display: inline-block;
        margin-bottom: 20px;

        font-weight: 700;
        line-height: 1.142;
        text-transform: uppercase;
        color: $primary-white-color;
    }


    &__list {
        display: flex;
        justify-content: center;
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }
}

.appeal__link {
    @include flex-ai-jc ();

    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: $primary-white-color;
    transition: background-color 250ms $cubic;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

// MEDIA MAX-WIDTH 1199PX
@media screen and (max-width:1199px) {
    .footer {
        text-align: center;
    }
}

// MEDIA MAX-WIDTH 767PX

@media screen and (max-width:767px) {
    .appeal {
            margin: 60px 0;
    }
}

// MEDIA MIN-WIDTH 768PX--MAX-WIDTH 1199PX
@media screen and (min-width:768px) and (max-width:1199px) {
    .footer__container {
        padding: 60px 70px;
        }

    .appeal {
        margin-top: 5px;
    }
    .footer__wrap {
        margin-bottom: 60px;
    }
}

// MEDIA MIN-WIDTH 768PX 

@media screen and (min-width:768px) {
    .footer__wrap {
        display: flex;
        justify-content: space-between;
    }
    
}

// MEDIA MAX-WIDTH 1200PX 
@media screen and (min-width:1200px) {
    .footer__container {
        display: flex;
        justify-content: space-between;
    }
    .address {
        width: 231px;
    }

    .appeal {
        margin-left: 70px;
        margin-top: 12px;
    }
    
} 


// .connection__list {
//     width: 231px;
// }

// .appeal {
//     margin-left: 70px;

//         &__title {
//             margin-top: 12px;
//         }

//         &__list {
//             display: flex;
//         }


// }
