
.header__container {
    position: relative;
    
}

.header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__buttons {
    display: inline-flex;
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;
}

.navigation__buttons.is-open .navigation__buttons--menu {
    display: none;
}

.navigation__buttons--cross {
        display: none;

        .navigation__buttons.is-open & {
                display: block;
            }
    }
.navigation__buttons--cross, .navigation__buttons--menu {
    fill: $primary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__buttons:hover .navigation__buttons--cross,
.navigation__buttons:hover .navigation__buttons--menu,
.navigation__buttons:focus .navigation__buttons--cross,
.navigation__buttons:focus .navigation__buttons--menu {
    fill: $accent-color;
}

.navigation__link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms $cubic;

        &:hover,
        &:focus {
            color: $accent-color;
        }
}



.navigation__link--current {
    color: $accent-color;
        @media screen and (min-width:768px) {
            &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: $accent-color;
                }
        }
}

.contacts__link--email {
    
    color: $tltle-text-color;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.166;
        letter-spacing: 0.02em;

    transition: color 250ms $cubic;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contacts__link--number {
        color: $accent-color;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;

        transition: color 250ms $cubic;

        &:hover,
        &:focus {
            color: $accent-color;
        }
}

.contacts__icon {
    margin-right: 10px;
    fill: #757575;

    transition: fill 250ms $cubic;

        .contacts__link:hover &,
        .contacts__link:focus & {
                fill: $accent-color;
            }
}

.mobile-menu__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
}

.mobile-menu__item {
    padding-right: 10px;
    &:not(:last-child) {
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.mobile-menu__link {
    color: $accent-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
}


// MEDIA MAX-WIDTH 767PX//
@media screen and (max-width:767px) {
    .mobile-menu {
        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;
        padding: 48px 40px;
        max-height: 796px;

        transform: translateY(-110%);
        opacity: 0;



        background-color: $primary-white-color;

        transition: transform 1000ms $cubic, opacity 1000ms $cubic;

        &.is-open {

            opacity: 1;
            transform: translateY(0);
        }
    }

    .navigation__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .navigation__link {
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
    }

    .contacts {
        display: flex;
        flex-direction: column-reverse;
    }

    .contacts__item {
        &:not(:first-child) {
            margin-top: 302px;
            margin-bottom: 32px;
        }
    }

    .contacts__icon {
        display: none;
    }
}


// MEDIA MIN-WIDTH 768PX//
@media screen and (min-width:768px) {
    .navigation__buttons, 
    .mobile-menu__list {
        display: none;
    }

    .header__container {
        height: 80px;
        display: flex;
        justify-content: space-between;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
    }

    .navigation {
        display: flex;
        
            &__list {
                    display: flex;
            }
    
            &__link {
                display: block;
            }
    }

    .navigation__item {
        position: relative;
    
            &:not(:last-child) {
                margin-right: 50px;
            }
    }
    
    .navigation__link {
        padding-top: 32px;
        padding-bottom: 32px;
    }


    .contacts__link {
        color: $tltle-text-color;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.02em;
    
        transition: color 250ms $cubic;
    }
}

// MEDIA MIN-WIDTH 768PX -- MAX-WIDTH 1199PX

@media screen and (min-width:768px) and (max-width:1199px) {
    .contacts {
            margin-left: 84px;
        }

    .contacts__item:not(:last-child) {
            margin-bottom: 10px;
        }
    

}

@media screen and (min-width:768px) {
    .contacts__link {
                display: flex;
                    align-items: center;
    }
}

//MEDIA MIN-WIDTH 1200PX 

@media screen and (min-width:1200px) {
    .contacts__link {

        font-size: 14px;
        line-height: 1.142;
    }

    .contacts {
        display: flex;
        align-items: center;
        margin-left: 305px;
    }

    .contacts__item:not(:last-child) {
        margin-right: 30px;
    }
}
