
.header__container {
    position: relative;

    @media screen and (min-width:768px) {
        height: 80px;
        display: flex;
    } 
}

.header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation__buttons {
    display: inline-flex;
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.navigation__buttons.is-open .navigation__buttons--menu {
    display: none;
}

.navigation__buttons--cross {
        display: none;
        

            .navigation__buttons.is-open & {
                display: block;
            }
    }
.navigation__buttons--cross, .navigation__buttons--menu {
    fill: $primary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__buttons:hover .navigation__buttons--cross,
.navigation__buttons:hover .navigation__buttons--menu,
.navigation__buttons:focus .navigation__buttons--cross,
.navigation__buttons:focus .navigation__buttons--menu {
    fill: $accent-color;
}

.mobile-menu {
    @media screen and (max-width:767px) {
        
            position: absolute;
            top: 100%;
            left: 0;
        
            width: 100%;
            padding: 48px 40px;
            height: 796px;

            transform: translateY(-110%);
            opacity: 0;

            background-color: $primary-white-color;
        
            transition: transform 1000ms $cubic, opacity 500ms $cubic;
            &.is-open {
                opacity:1;
                transform: translateY(0);
            }
        }
}


.navigation__item {
    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}



.navigation__link{
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    

    transition: color 250ms $cubic;

    &:hover,
    &:focus {
        color: $accent-color;
    }
    @media screen and (max-width:767px) {
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
    }
}

.navigation__link--current {
    color: $accent-color;
        // @media screen and (min-width:768px) {
        //     &::after {
        //             content: '';
        //             position: absolute;
        //             display: block;
        //             bottom: 0;
        //             width: 100%;
        //             height: 4px;
        //             border-radius: 2px;
        //             background-color: $accent-color;
        //         }
        // }
}

.contacts {
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.contacts__item {
    @media screen and (max-width:767px) {
        &:not(:first-child) {
            margin-top: 302px;
            margin-bottom: 32px;
        }
    }
}

.contacts__link--email {
    
    color: $tltle-text-color;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.166;
        letter-spacing: 0.02em;

    transition: color 250ms $cubic;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width:768px) {
        color: $primary-text-color;
            font-size: 14px;
            line-height: 1.14;
        }
}

.contacts__link--number {
    color: $accent-color;
    
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;

        transition: color 250ms $cubic;

        &:hover,
        &:focus {
            color: $accent-color;
        }


    @media screen and (min-width:768px) {
        color: $primary-text-color;
            font-size: 14px;
            line-height: 1.14;
        }
}

.contacts__icon {

    margin-right: 10px;
    fill: #757575;

    transition: fill 250ms $cubic;

        .contacts__link:hover &,
        .contacts__link:focus & {
                fill: $accent-color;
            }
            @media screen and (max-width:767px) {
                display: none;
            }
            
}

.mobile-menu__list {
    display: flex;
    margin-top: 64px;


    @media screen and (min-width:768px) {
        display: none;
    }
}

.mobile-menu__item {
    padding-right: 10px;
    &:not(:last-child) {
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.mobile-menu__link {
    color: $accent-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
}








// .navigation {
//     display: flex;

//         &__list {
//                 display: flex;
//         }

//         &__link {
//             display: block;
//         }
// }

// .navigation__item {
//     position: relative;

//         &:not(:last-child) {
//             margin-right: 50px;
//         }
// }

// .navigation__link,
// .contacts {
//     color: $primary-text-color;
//     font-family: Roboto, sans-serif;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     transition: color 250ms $cubic;
// }

// .navigation__link,
// .contacts__link {
//     padding-top: 32px;
//     padding-bottom: 32px;
// }

// .navigation__link--current {
//     color: $accent-color;

//         &::after {
//                 content: '';
//                 position: absolute;
//                 display: block;
//                 bottom: 0;
        
//                 width: 100%;
//                 height: 4px;
//                 border-radius: 2px;
//                 background-color: $accent-color;
//             }
// }


// .contacts {
//     display: flex;
//     margin-left: auto;
//     align-items: center;

//         &__item:not(:last-child) {
//             margin-right: 30px;
//         }

//         &__link {
//             display: inline;
        
//             color: $tltle-text-color;

//             transition: color 250ms $cubic;
//         }

        

// }



// .contacts__link:hover,
// .contacts__link:focus,
// .navigation__link:hover,
// .navigation__link:focus {
//     color: $accent-color;
// }