.logo {
    font-family: 'Raleway';
    font-size: 24px;
    line-height: 1.166;
    font-weight: 700;

            &__accent {
            color: $accent-color;
            }
    
    @media screen and (min-width:1200px) {  
        font-size: 26px;
        line-height: 1.192;      
    }

}
