.clients {
    
    &__container {
        padding: 60px 15px;
        @media screen and (min-width:1200px) {
            padding: 94px 15px;
        }
        
    }

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        margin: 15px;
        width: calc((100% - 30px * 2) / 2);
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
        border: 1px solid $accent-color;
    }
}

.clients__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .clients__link:hover &,
        .clients__link:focus & {
                fill: $accent-color;
            }
}
@media screen and (min-width:768px) {
    .clients__item {
        width: calc((100% - 90px) / 3);
    }
}

@media screen and (min-width:1200px) {
    .clients__item {
        width: calc((100% - 180px) / 6);
    }
}
