.clients {
    text-align: center;

        &__container {
        padding-bottom: 94px;
        padding-top: 94px;
    }

        &__title {
        margin-bottom: 50px;
        }

        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__link {
            display: block;
            
            width: 170px;
            height: 92px;
        }

    }

.clients__icon {
    padding: 16px 32px;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    cursor: pointer;
    fill: #AFB1B8;

    transition: fill 250ms $cubic, border 250ms $cubic;

    .clients__link:hover &,
    .clients__link:focus & {
            fill: $accent-color;
            border: 1px solid $accent-color;
        }
    
}


