.footer {
    background-color: var(--background-black-color);
}

.footer__container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primary-white-color);
}

.connection__list {
    width: 231px;
}

.connection__item:not(:last-child) {
    margin-bottom: 9px;
}

.connection__link {
    color: var(--transparent-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.connection__link--white {
    color: var(--primary-white-color);
}