body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
button,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}