.examples {
    background-color: var(--primary-white-color);
}

.title--invis {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.examples__container:not(:last-child) {
    padding-top: 94px;
    padding-bottom: 16px;
}

.examples__buttons {
    display: flex;
    justify-content: center;
}

.examples__item:not(:last-child) {
    margin-right: 8px;
}

.examples__button {
    padding: 6px 22px;

    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    transition: color 250ms var(--cubic),
        background-color 250ms var(--cubic),
        box-shadow 250ms var(--cubic);
}

.examples__button:hover,
.examples__button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}